body {
  font-family: ui-sans-serif, system-ui, sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
               "Noto Color Emoji" !important;
  @media (width <= 1366px) and
         (height <= 768px) and
         (resolution <= 1dppx) {
    zoom: 0.8;
  }
}

#main #content #filecontents p, .discussion p {
  max-width: 768px;
}

#toc {
  position: fixed;
  right: 25px;
  display: none;
}

@media screen and (min-width: 1280px) {
  #toc {
    display: block;
  }
}
